@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;

body {
  font-family: "Work Sans", "Open Sans", sans-serif;
  background-color: #00184d;
  color: white;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  @apply text-blue-200;
}

a:hover {
  text-decoration: underline;
}

@tailwind components;

@tailwind utilities;

.hidden-self {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.shown-self {
  opacity: 1;
  visibility: visible;
}